/*add header text styling*/
.header a{
  color: #5a5a5a;
  font-size: 18px;
  /*font-weight: bold;*/
  padding: 14px 10px;
  /*text-transform: uppercase;*/
  /*text-align: right;*/
}

.header ul{
  text-align:right;
}

.about p{
  text-transform:uppercase;
  text-align:center;
  font-family: 'Open Sans', 'Sans Serif';
  letter-spacing:0.3em;
  font-weight:700;
  color:#fafafa;
  font-size:18px;
}

#about_wrapper{
  padding-top:60px;
  /*padding-bottom:60px;*/
  background-color:#f08080;
  width:100%;
  /*height:850px;*/
 /* min-width:800px;*/
 /* margin:0 auto;
  height:800;*/
}

#inner_about{
 padding-top:55px;
 margin-top:0px;
 /*margin-bottom:100px;*/
 margin-right:20px;
 margin-left:20px;
 border-radius:5px;
 /*width:750px;*/
 width = 50%;
 font-size:11px;
 background-color: #404040;
 padding-left:55px;
 padding-right:55px;

}
.about_content p{
 font-family:'Monaco', 'Courier New';
 text-align:left;
 font-size:15px;
 color:#fafafa;
}

.about_content a{
  text-decoration:none;
  color:#00ffff;
}

.about_content a:hoover{
  text-decoration:underline;
}

#illustration img{
  padding-top:15px;
  width:100%;
  /*min-width:800px;*/
  height:400px;
}

/*.header li{
  display:inline;
 text-align:right;
  
}*/

.research a{
  text-decoration:none;
  color:black;
  font-family:"Times New Roman", "Times", "Serif";
}

.research a:hoover{
  text-decoration:none;
  text-color:#00ffff;
}

#resume_content{
  background-color:#c8c8c8;
  width:100%;
}

.resume{
  font-family:"Consolas", "Verdana", "Arial","Courier new";
  font-size:20px;
  text-align:center;
}
#heading{
  float:right;
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  padding:5px 0;
  background-color:#ffffff;
}

#research_container{
  background-color:#f8f8f8;
}

