/*add header text styling*/
.header a{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
/*.about{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXjkcEH_7yytuG9FXoHtDytlXxM956i9zVu7JI-VqyRbMK-rZM4A');
  height:800px;
  width:800px;
}*/

/*#about_wrapper {*/
  /*text-align:center;*/
  /*padding-top:60px;*/
  /*font-family: 'Open Sans', 'Sans Serif';
  letter-spacing:0.3em;
  font-weight:700;
  color:#fafafa;
  font-size:11px;
  text-transform:uppercase;*/
  /*width:50%;*/
 /* min-width:800px;*/
  /*width:100%;*/
  /*background-color:#ff99cc;
}*/

.about p{
  text-transform:uppercase;
  text-align:center;
  font-family: 'Open Sans', 'Sans Serif';
  letter-spacing:0.3em;
  font-weight:700;
  color:#fafafa;
  font-size:11px;
}

#about_wrapper{
  background-color:#ff99cc;
  width:800;
 /* margin:0 auto;
  height:800;*/
  padding-top:60px;
  padding-bottom:60px;
}

#inner_about{
 margin-top:150px;
 border-radius:5px;
 width:750px;
 margin:0 auto;
 font-size:30px;
 background-color: #404040;
 height:700px;
 padding-top:55px;
 padding-left:55px;
 padding-right:55px;
 margin-bottom:150px;
}
.about_content p{
 font-family:'Monaco', 'Courier New';
 text-align:left;
 font-size:20px;
 color:#fafafa;
}

.about_content a{
  text-decoration:none;
  color:#00ffff;
}

.about_content a:hoover{
  text-decoration:underline;
}

#illustration img{
  padding-top:15px;
  width:100%;
  /*min-width:800px;*/
  height:400px;
}

.header li{
  display:inline;
 text-align:right;
  
}
