/*add header text styling*/
.header a{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.about{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXjkcEH_7yytuG9FXoHtDytlXxM956i9zVu7JI-VqyRbMK-rZM4A');
  height:500px;
}

#about p{
  text-align:center;
  padding-top:60px;
  font-family: 'Open Sans', 'Sans Serif';
  letter-spacing:0.3em;
  font-weight:700;
  color:#fafafa;
  font-size:11px;
  text-transform:uppercase;
}
