
<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }}</title>
    <!--link to main stylesheet-->
      <link rel = "stylesheet" type = "text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <liL<a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href = "https://github.com/rawuor/rawuor.github.io/blob/master/updated_CV_Racquel_Ivy_Awuor.pdf">CV</a></li>
        <li><a href= "/projects">My Projects</a></li>
        <li> <a href = "/publications">My Publications </a></li>
        <li><a href = "/blog"> Blog </a></li>
      </ul>
    </nav>
    <div class = "container">
      {{ content }}
    </div><!--/.container-->
    <footer>
      <ul>
        <li><a href = "mailto: rawuor@u.rochester.edu" target = "_blank">Email me!</a></li>
        <li><a href = "https://github.com/rawuor" target = "_blank">github.com/rawuor</a></li>
        <li><a href = "https://www.facebook.com/iracquel1" target = "_blank">Find me on facebook!</a></li>
      </ul>
    </footer>
  </body>
</html>
